USE [master]
GO
/****** Object:  Database [Library]    Script Date: 11/11/2021 17:46:39 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[LoginTable]    Script Date: 11/11/2021 17:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoginTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
 CONSTRAINT [PK_LoginTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableBook]    Script Date: 11/11/2021 17:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableBook](
	[ISBN] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](250) NOT NULL,
	[Edition] [varchar](100) NULL,
	[Author] [varchar](100) NOT NULL,
	[Genre] [varchar](100) NULL,
	[Status] [char](10) NULL,
 CONSTRAINT [PK_TableBook] PRIMARY KEY CLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableBorrows]    Script Date: 11/11/2021 17:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableBorrows](
	[Identification] [int] IDENTITY(1,1) NOT NULL,
	[Isbn] [int] NOT NULL,
	[Member_id] [int] NOT NULL,
	[Purchase_Date] [smalldatetime] NOT NULL,
	[Return_Date] [smalldatetime] NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Identification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TableMember]    Script Date: 11/11/2021 17:46:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TableMember](
	[Member_Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](150) NOT NULL,
	[LastName] [varchar](150) NOT NULL,
	[Address] [varchar](250) NOT NULL,
	[HouseNumber] [char] NOT NULL,
	[ZipCode] [int] NOT NULL,
	[City] [varchar](100) NOT NULL,
	[Phone_number] [int] NULL,
	[Mail] [varchar](150) NULL,
 CONSTRAINT [PK_TableMember] PRIMARY KEY CLUSTERED 
(
	[Member_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TableBorrows]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_TableBook] FOREIGN KEY([Isbn])
REFERENCES [dbo].[TableBook] ([ISBN])
GO
ALTER TABLE [dbo].[TableBorrows] CHECK CONSTRAINT [FK_Table_1_TableBook]
GO
ALTER TABLE [dbo].[TableBorrows]  WITH CHECK ADD  CONSTRAINT [FK_Table_1_TableMember] FOREIGN KEY([Member_id])
REFERENCES [dbo].[TableMember] ([Member_Id])
GO
ALTER TABLE [dbo].[TableBorrows] CHECK CONSTRAINT [FK_Table_1_TableMember]
GO
ALTER TABLE [dbo].[TableMember]  WITH CHECK ADD  CONSTRAINT [FK_TableMember_TableMember] FOREIGN KEY([Member_Id])
REFERENCES [dbo].[TableMember] ([Member_Id])
GO
ALTER TABLE [dbo].[TableMember] CHECK CONSTRAINT [FK_TableMember_TableMember]
GO
USE [master]
GO
